.c-box{
  background: $color-accent;
  padding: 32px 16px;
  max-width: 800px;
  margin: 0 auto;

  @include mq('md'){
    padding: 48px 40px;
  }
}

.c-box + .c-box{
  margin-top: 24px;
}

.c-box__title{
  font-size: 16px;
  position: relative;
  padding-left: 8px;
  margin-bottom: 16px;

  &:before{
    position: absolute;
    content: '';
    height: 16px;
    width: 4px;
    background-color: $color-main;
    top: 14px;
    left: 0%;
    transform: translateY(-50%);
  }
}

.c-box__text{
  p:not(:last-child){
    margin-bottom: 16px;
  }

  span{
    font-size: 14px;
    display: block;
    margin-top: 4px;
  }

  li:not(:last-child){
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px dashed #efefef;
  }
}

.c-box__sign{
  text-align: right;
}