.c-flex__title{
  span{
    font-size: 32px;
    color: $color-main;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: relative;

    &:before{
      position: absolute;
      width: 40px;
      content: '';
      height: 3px;
      background: $color-main;
      top: -16px;
    }
  }

  h2{
    font-size: 1.2em;
  }
}

.c-flex__text{
  margin-top: 16px;

  p{
    margin-bottom: 12px;
    text-align: justify;
  }
}

.c-flex__heading{
  span{
    font-size: 24px;
    color: $color-main;
    font-weight: bold;
    border-bottom: 2px solid $color-main;
    display: inline-block;
    line-height: 1.2;
  }

  h3{
    font-size: 18px;
    margin-top: 8px;
  }
}

@include mq('md'){
  .c-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-flex__item{
    width: 48%;

    img{
      height: 560px;
    }
  }

  .-reverse{
    flex-direction: row-reverse;
  }

  .c-flex__text{
    width: 88%;
  }

  .-textArea{
    width: 45%;
  }
}