.footer{
  background: #212a37;;
  color: #fff;
  padding: 32px 0 16px;

  @include mq('md'){
    padding-top: 80px;
  }
}

.footer__inner{
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

/* タブレット以上では横並び表示 */
.footer__contents{
  @include mq('md'){
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.footer__logo{
  width: 240px;
  font-weight: normal;

  span{
    font-size: 14px;
    display: block;
    font-weight: normal;
    line-height: 2;
  }
}

.footer__about{
  max-width: 240px;
  line-height: 1.5;
}

.footer__items{
  padding-top: 24px;
}

.footer__menu{
  padding-top: 24px;
  font-size: 0.9rem;

  @include mq('md'){
    padding-top: 0;
  }
  
  li{
    padding-bottom: 8px;
  }

  @include mq('md'){
    ul{
      display: flex;
      flex-wrap: wrap;
    }

    li{
      margin-left: 32px;
    }
  }
}

/* footerではボーダー非表示 */
.footer__menu{
  .current-menu-item{
    border-bottom: none;
  }
}

.footer__copy{
  padding-top: 32px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  a{
    text-decoration: none;
  }

  @include mq('lg'){
    padding-top: 64px;
  }
}

